:root{
  --bground: #E8DDCE;
  --mainCol: #FFFFFF;
  --blue: #94CDD3;
  --purple: #70387C;
  --orange: #F67D4F;
  --lastGrid: #FBF5EE;
  --inactive: #A997A5;
  --widgets: #F5F4F5;
  --buttonsCol: #0F1422;

}